@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-slate-800;
  }
}

@media (min-width: 768px) {
  .md\:max-w-screen-container {
    max-width: 940px;
  }
}

.prose h2 {
  margin-top: 40px;
  margin-bottom: 16px;
}

#disqus-container {
  margin: auto;
  width: 70%;
  margin-bottom: 4rem;
}

.img {
  object-fit: cover;
}
